<mat-drawer-container class="drawer-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="side">
    <app-sidebar (onClickMenuItem)="drawer.toggle()"></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>

    <mat-toolbar color="primary">
      <button mat-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Survey Manager</span>
      <span class="example-spacer"></span>
      <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
